@charset "UTF-8";
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}
.logo img {
  width: 200px; /* Ajustez le pourcentage selon les besoins */
  height: auto;
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 10px;
}
.formulaire p {
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 450;
  color: rgb(53, 53, 53);
}
.formulaire .localite-icone {
  color: rgb(53, 53, 53);
}

nav {
  background-color: rgb(243, 243, 243);
  padding-bottom: 30px;
}
nav h1 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
}

.message-daccueil {
  text-align: center;
  margin: 20px;
  font-size: 18px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  width: 228px;
  margin: 20px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.Restaurants {
  background-color: rgb(243, 243, 243);
}
.Restaurants h1 {
  padding: 20px;
}
.Restaurants .restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.Restaurants .restaurants-cards a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.card {
  background-color: white;
  width: 100%; /* Largeur fixe pour les cartes */
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px 0px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 16px;
}
.card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .rectangle {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: rgb(153, 226, 208);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(0, 135, 102);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 27.41px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card .card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-left: 10px;
}
.card .card-title::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  content: "\f004"; /*unicode de l'icone souhaitee*/
  font-weight: 400;
  position: absolute;
  font-size: 2rem;
  right: 1rem; /* par rapport au parent*/
  top: 40%;
  transform: translate(-50%); /*Place le cœur par apport a lui meme à droite avec une centration verticale.*/
  color: inherit;
  background-clip: text !important; /*fait que le dégradé de fond est coupé pour apparaître uniquement dans les zones del'icone.*/
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms color ease-in-out; /*pour un effet de changement de couleur en douceur */
}
.card .card-title::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  content: "\f004"; /*unicode de l'icone souhaitee*/
  font-weight: 400;
  position: absolute;
  font-size: 2rem;
  right: 1rem; /* par rapport au parent*/
  top: 40%;
  transform: translate(-50%); /*Place le cœur par apport a lui meme à droite avec une centration verticale.*/
  color: inherit;
  background-clip: text !important; /*fait que le dégradé de fond est coupé pour apparaître uniquement dans les zones del'icone.*/
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms color ease-in-out; /*pour un effet de changement de couleur en douceur */
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  /*Seule la couleur du dégradé de fond, définie par @include gradient(1);, est visible à l'intérieur des cœurs.*/
  opacity: 0;
  color: transparent; /* pour que le cœur de base ne montre pas sa couleur d'origine.*/
  font-weight: 900;
}
.card .card-title:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1.1);
}
.card .card-title h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.card p {
  max-width: 335px;
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 10px;
}
footer img {
  width: 150px;
  padding: 10px;
}
footer ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin-top: auto;
}
footer ul li {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 1opx;
  font-size: 1rem;
}
footer ul li i {
  margin-right: 1px;
}

body {
  margin: 100%;
  padding: 100%;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 24px;
}

.home-title {
  margin: 30px 30px;
}

.boutton-de-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boutton-de-fonctionnement .circle {
  background-color: rgb(147, 86, 220);
  color: white;
  width: 26px;
  height: 24px;
  border-radius: 100%;
}

.button-de-fonctionnement {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 5rem;
}
.button-de-fonctionnement .button-container {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
}
.button-de-fonctionnement .button-container a {
  text-decoration: none;
}
.button-de-fonctionnement .choix-restau {
  width: 90%;
}
.button-de-fonctionnement .degustation-restau {
  width: 90%;
}
.button-de-fonctionnement .compo-menu {
  width: 90%;
}
.button-de-fonctionnement .circle {
  background-color: rgb(147, 86, 220);
  color: white;
  width: 26px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  left: 10px;
}
.button-de-fonctionnement.container-1 .circle {
  top: 20px;
  left: 10px;
}
.button-de-fonctionnement.container-2 .circle {
  top: 20px;
  left: 10px;
}
.button-de-fonctionnement.container-3 .circle {
  top: 20px;
  left: 10px;
}

button {
  background-color: rgb(246, 246, 246);
  border: none;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15) !important;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}
button .fa-store,
button .fa-list-ul,
button .fa-mobile-screen-button {
  color: rgb(126, 126, 126);
  margin-right: 25px;
  margin-left: 25px;
}
button p {
  text-align: center;
}
button:hover .fa-store,
button:hover .fa-list-ul,
button:hover .fa-mobile-screen-button {
  color: rgb(147, 86, 220);
}
button .span-menu {
  display: block;
  margin-left: 16px;
}

.restaurants {
  background-color: rgb(243, 243, 243);
  padding: 10px 0 60px 0px;
}
.restaurants .restaurants-cards {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
}
.restaurants .restaurants-cards p {
  text-align: left;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
}
.restaurants .restaurants-cards .fa-heart {
  font-weight: 300;
}
.restaurants .restaurants-cards .fa-heart:hover {
  color: rgb(147, 86, 220);
}
.restaurants .restaurants-cards a {
  color: black;
}

@media (max-width: 380px) {
  .boutton-de-fonctionnement {
    margin: 0 !important;
  }
  .restaurants-cards {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .button-de-fonctionnement {
    display: flex;
    flex-direction: row;
  }
  .restaurants-cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 24px;
  }
  .image-restau {
    width: 40%;
    margin: 0 auto;
  }
  .image-restau img {
    width: 100%;
  }
  .restau-name {
    padding: 0px !important;
  }
  .restau-name::after {
    display: none;
  }
}
@media (min-width: 1024px) {
  .button-de-fonctionnement {
    /* Ajustements spécifiques pour les boutons de fonctionnement */
    display: flex;
    flex-direction: row;
  }
  .restaurants-cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout for larger screens */
    gap: 32px;
    margin: 0 100px 50px 100px !important; /* Ajustement des marges pour les écrans larges */
  }
  .image-restau {
    width: 30%; /* Ajustement de la largeur de l'image pour les écrans larges */
    margin: 0 auto;
  }
  .image-restau img {
    width: 100%;
    height: auto; /* Assurez-vous que les images conservent leurs proportions */
  }
  .restau-name {
    padding: 0px !important;
  }
  .restau-name::after {
    display: none;
  }
}
.loader {
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  position: fixed; /*Positionne l'élément de manière fixe, couvrant tout l'écran.*/
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1; /* s'etendre pour toucher tous les bords*/
  animation: disappear 200ms 2s forwards; /*animation-fill-mode :  rester dans l'état final de l'animation */
  transform-origin: top; /*Définit le point d'origine de la transformation en haut.*/
}
.loader::after {
  content: "";
  height: 70px;
  width: 70px;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(147, 86, 220);
  border-radius: 50%;
  animation: spin 2s infinite ease-in-out; /*Fonction de Timing : ease-in-out (commence et termine doucement)*/
}

@keyframes disappear {
  /*l'element retrecit jusqu'a disparition*/
  to {
    /*L'élément commence à sa taille normale.(scale 1)*/
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
footer {
  background-color: rgb(53, 53, 53);
  padding: 10px;
}
footer img {
  width: 150px;
  padding: 10px;
}
footer ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin-top: auto;
}
footer ul li {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 1opx;
  font-size: 1rem;
}
footer ul li i {
  margin-right: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* Global styles */
body {
  font-family: "Roboto", "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(7, 7, 7);
}

/* Header styles */
.header-flex {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0;
}
.header-flex .logo img {
  width: 200px;
  height: auto;
}
.header-flex .go-back-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  align-self: flex-start;
  margin: 10px;
  font-size: 1.5rem;
}
.header-flex .go-back-icon .fa-arrow-left {
  color: black;
}

.image-restau {
  position: relative;
  width: 100%;
  height: 275px; /* Ajustez cette valeur selon la hauteur de l'image */
}

.image-restau img {
  width: 100%; /* Adjust logo size as needed */
  margin: 0;
  position: relative;
  overflow: hidden;
}

.restau-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: "Shrikhand", cursive;
  color: black;
  position: relative;
}
.restau-title::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  content: "\f004"; /*unicode de l'icone souhaitee*/
  font-weight: 400;
  position: absolute;
  font-size: 2rem;
  right: 1rem; /* par rapport au parent*/
  top: 40%;
  transform: translate(-50%); /*Place le cœur par apport a lui meme à droite avec une centration verticale.*/
  color: inherit;
  background-clip: text !important; /*fait que le dégradé de fond est coupé pour apparaître uniquement dans les zones del'icone.*/
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms color ease-in-out; /*pour un effet de changement de couleur en douceur */
  position: absolute;
  top: 4px;
}
.restau-title::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  content: "\f004"; /*unicode de l'icone souhaitee*/
  font-weight: 400;
  position: absolute;
  font-size: 2rem;
  right: 1rem; /* par rapport au parent*/
  top: 40%;
  transform: translate(-50%); /*Place le cœur par apport a lui meme à droite avec une centration verticale.*/
  color: inherit;
  background-clip: text !important; /*fait que le dégradé de fond est coupé pour apparaître uniquement dans les zones del'icone.*/
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms color ease-in-out; /*pour un effet de changement de couleur en douceur */
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  /*Seule la couleur du dégradé de fond, définie par @include gradient(1);, est visible à l'intérieur des cœurs.*/
  opacity: 0;
  color: transparent; /* pour que le cœur de base ne montre pas sa couleur d'origine.*/
  font-weight: 900;
  position: absolute;
  top: 4px;
}
.restau-title:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1.1);
}

.card-menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 30px; /* Ajustez cette valeur pour déplacer l'élément vers le haut */
  background-color: rgb(234, 234, 234);
  padding: 20px;
  padding-top: 50px;
  z-index: 10;
  margin-bottom: 0;
}
.card-menu h1 {
  font-size: 28px;
}
.card-menu i {
  font-size: 2rem;
  color: rgb(12, 12, 12);
  font-weight: 100;
}
.card-menu h2 {
  font-family: "Roboto" sans-serif;
  display: inline-block;
  width: 10%;
  border-bottom: solid 3px rgb(153, 226, 208);
  padding-bottom: 5px;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 15px;
  color: rgb(12, 12, 12);
  font-weight: 300;
}

/* Menu cards */
.menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  margin: 0;
}
.menu-cards a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-cards a .card {
  background-color: white;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.231372549);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  box-shadow: 2px 1px 8px -3px #000000;
}
.menu-cards a .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100% !important; /* Ensure card-content takes full height of card */
}
.menu-cards a .card-content .prix {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 5px;
  align-self: center;
}
.menu-cards a .card-content .check {
  background-color: rgba(22, 234, 163, 0.606);
  height: auto;
  align-self: stretch; /* s'etndre verticalement pour remplir l'espace du coneneur*/
  display: grid;
  place-items: center;
  padding: 0;
  margin-right: -6rem; /* Positionne le bouton hors de l'écran à droite pour qu'il n'apparaisse que lors du survol.*/
  width: 6rem;
  transition: all 1s; /*Applique une transition douce de 1 seconde pour la position du bouton*/
}
.menu-cards a .card-content .check i {
  background-color: white;
  border-radius: 50%;
  color: aquamarine;
  padding: 10px;
  font-size: small;
  font-weight: bolder;
}
.menu-cards a .card-content:hover .check {
  margin-right: 0;
  width: 5rem;
  height: auto;
}
.menu-cards a .card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3 {
  color: black;
  overflow: hidden; /*Cache toute partie du texte qui dépasse les limites du conteneur.*/
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap; /* Empêche le texte de se diviser en plusieurs lignes, forçant tout le texte à rester sur une seule ligne.*/
  text-overflow: ellipsis; /*Ajoute des points de suspension ("...") à la fin du texte si celui-ci dépasse les limites du conteneur, indiquant qu'il y a plus de texte que ce qui est visible*/
}

p {
  margin-top: 5px;
  margin-bottom: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

a {
  text-decoration: none !important;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  width: 228px;
  margin: 20px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 10px;
}
footer img {
  width: 150px;
  padding: 10px;
}
footer ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin-top: auto;
}
footer ul li {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 1opx;
  font-size: 1rem;
}
footer ul li i {
  margin-right: 1px;
}

footer {
  position: static;
  width: 100%;
  margin-top: -31px;
  padding: 20px;
}

@media (min-width: 768px) {
  .card-menu {
    width: 80%;
    margin: 97px auto; /* Centrer l'article .card-menu */
  }
  h2 {
    width: auto;
    display: flex;
    justify-content: left;
    position: relative;
    margin-top: 20px;
    border-bottom: none !important;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 17px;
    transform: translateX(-50%);
    width: 43%;
    border-bottom: solid 3px rgb(153, 226, 208);
  }
  .restau-title {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .card-menu {
    width: 70%;
    margin: 87px auto; /* Ajuste le centrage de l'article .card-menu pour les écrans larges */
  }
  .restau-title {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}
.image-restau {
  width: 100% !important;
}
.image-restau img {
  height: 445px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
