@charset "UTF-8";
.header-flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.header-flex .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.header-flex .logo img {
  max-width: 50%; /* Ajustez le pourcentage selon les besoins */
  height: auto;
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.formulaire p {
  margin-left: 20px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

nav {
  background-color: rgb(243, 243, 243);
  padding-bottom: 30px;
}
nav h1,
nav p {
  text-align: center;
  margin-top: 5px;
  padding-top: 20px;
}
nav p {
  color: rgb(53, 53, 53);
  font-weight: 300;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .btn {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  width: 228px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.Restaurants {
  background-color: rgb(243, 243, 243);
}
.Restaurants h1 {
  padding: 20px;
}
.Restaurants .restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.Restaurants .restaurants-cards a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.card {
  background-color: white;
  width: 100%; /* Largeur fixe pour les cartes */
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .rectangle {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: rgb(153, 226, 208);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(0, 135, 102);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 27.41px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card .card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card .card-title h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.card .card-title i {
  font-size: 1.5rem;
  margin-top: 10px;
  color: rgb(68, 64, 72);
}
.card.second-card .card-title i {
  color: rgb(147, 86, 220);
}
.card p {
  font-size: 1.3rem;
  margin-top: 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.boutton-de-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boutton-de-fonctionnement .circle {
  background-color: rgb(147, 86, 220);
  color: white;
  width: 26px;
  height: 24px;
  border-radius: 100%;
}

.button-de-fonctionnement {
  display: flex;
  flex-direction: column;
  position: relative;
}
.button-de-fonctionnement .button-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.button-de-fonctionnement .button-container a {
  text-decoration: none;
}
.button-de-fonctionnement .button-container .choix-restau {
  width: 90%;
}
.button-de-fonctionnement .button-container .degustation-restau {
  width: 90%;
}
.button-de-fonctionnement .button-container .compo-menu {
  width: 90%;
}
.button-de-fonctionnement .button-container .circle {
  background-color: rgb(147, 86, 220);
  color: white;
  width: 26px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: 20px;
}
.button-de-fonctionnement .button-container.container-1 .circle {
  top: 20px;
  left: 10px;
}
.button-de-fonctionnement .button-container.container-2 .circle {
  top: 20px;
  left: 10px;
}
.button-de-fonctionnement .button-container.container-3 .circle {
  top: 20px;
  left: 10px;
}
.button-de-fonctionnement button {
  background-color: rgb(246, 246, 246);
  border: none;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-de-fonctionnement button .fa-store {
  color: rgb(147, 86, 220);
  margin-right: 10px;
}
.button-de-fonctionnement button .fa-list-ul, .button-de-fonctionnement button .fa-mobile-screen-button {
  color: rgb(126, 126, 126);
  margin-right: 10px;
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 10px;
}
footer img {
  width: 150px;
  padding: 10px;
}
footer ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin-top: auto;
}
footer ul li {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 1opx;
  font-size: 1rem;
}
footer ul li i {
  margin-right: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* Global styles */
body {
  font-family: "Roboto", "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(7, 7, 7);
}

/* Header styles */
.header-flex {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0;
}
.header-flex .logo {
  margin: 20px;
}
.header-flex .logo img {
  max-width: 50%; /* Ajustez le pourcentage selon les besoins */
  height: auto;
}
.header-flex .go-back-icon {
  position: absolute;
  top: 10px;
  align-self: flex-start;
  margin: 10px;
  font-size: 1.5rem;
}

.image-restau {
  position: relative;
  width: 100%;
  height: 275px; /* Ajustez cette valeur selon la hauteur de l'image */
}

.image-restau img {
  width: 100%; /* Adjust logo size as needed */
  margin: 0;
  position: relative;
  overflow: hidden;
}

.restau-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: "Shrikhand", cursive;
  color: black;
}

.card-menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  position: relative;
  bottom: 30px; /* Ajustez cette valeur pour déplacer l'élément vers le haut */
  background-color: rgb(234, 234, 234);
  padding: 20px;
  padding-top: 50px;
  z-index: 10;
  margin-bottom: 0;
}
.card-menu h1 {
  font-size: 2rem;
}
.card-menu i {
  font-size: 2rem;
  color: rgb(12, 12, 12);
  font-weight: 100;
}
.card-menu h2 {
  font-size: 1.2rem;
  margin: 20px;
  color: rgb(12, 12, 12);
  font-weight: 400;
}

/* Menu cards */
.menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu-cards a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-cards a .card {
  background-color: white;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-family: "Roboto" sans-serif;
  display: inline-block;
  border-bottom: solid 3px rgb(153, 226, 208);
  padding-bottom: 5px;
}

h3 {
  color: black;
}

.card-content {
  display: flex;
  justify-content: space-between;
}
.card-content p {
  margin-top: 0px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none !important;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.button-container .btn {
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  width: 228px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: rgb(53, 53, 53);
  padding: 10px;
}
footer img {
  width: 150px;
  padding: 10px;
}
footer ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin-top: auto;
}
footer ul li {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 1opx;
  font-size: 1rem;
}
footer ul li i {
  margin-right: 1px;
}

footer {
  position: static;
  width: 100%;
  margin-top: 0;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
