body {
  margin: 100%;
  padding: 100%;
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 24px;
}
.home-title {
  margin: 30px 30px;
}
.boutton-de-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .circle {
    background-color: rgb(147, 86, 220);
    color: white;
    width: 26px;
    height: 24px;
    border-radius: 100%;
  }
}
.button-de-fonctionnement {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 5rem;

  .button-container {
    position: relative;
    margin-bottom: 60px;
    width: 100%;

    a {
      text-decoration: none;
    }
  }
  .choix-restau {
    width: 90%;
  }
  .degustation-restau {
    width: 90%;
  }
  .compo-menu {
    width: 90%;
  }

  .circle {
    background-color: rgb(147, 86, 220);
    color: white;
    width: 26px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 10px;
  }
  &.container-1 .circle {
    top: 20px;
    left: 10px;
  }
  &.container-2 .circle {
    top: 20px;
    left: 10px;
  }
  &.container-3 .circle {
    top: 20px;
    left: 10px;
  }
}

button {
  background-color: rgb(246, 246, 246);
  border: none;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15) !important;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;

  .fa-store,
  .fa-list-ul,
  .fa-mobile-screen-button {
    color: rgb(126, 126, 126);
    margin-right: 25px;
    margin-left: 25px;
  }
  p {
    text-align: center;
  }

  &:hover {
    .fa-store,
    .fa-list-ul,
    .fa-mobile-screen-button {
      color: rgb(147, 86, 220);
    }
  }

  .span-menu {
    display: block;
    margin-left: 16px;
  }
}

.restaurants {
  background-color: rgb(243, 243, 243);
  padding: 10px 0 60px 0px;
  .restaurants-cards {
    //margin: 0 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    p {
      text-align: left;
      margin-left: 10px;
      margin-right: 0;
      padding: 0;
    }
    .fa-heart {
      font-weight: 300;

      &:hover {
        color: rgb(147, 86, 220);
      }
    }
    a {
      color: black;
    }
  }
}
@media (max-width: 380px) {
  .boutton-de-fonctionnement {
    margin: 0 !important;
  }
  .restaurants-cards {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .button-de-fonctionnement {
    display: flex;
    flex-direction: row;
  }
  .restaurants-cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 24px;
  }

  .image-restau {
    width: 40%;
    margin: 0 auto;
  }

  .image-restau img {
    width: 100%;
  }

  .restau-name {
    padding: 0px !important;

    &::after {
      display: none;
    }
  }
}
@media (min-width: 1024px) {
  .button-de-fonctionnement {
    /* Ajustements spécifiques pour les boutons de fonctionnement */
    display: flex;
    flex-direction: row;
  }

  .restaurants-cards {
    display: grid !important;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columns layout for larger screens */
    gap: 32px;
    margin: 0 100px 50px 100px !important; /* Ajustement des marges pour les écrans larges */
  }

  .image-restau {
    width: 30%; /* Ajustement de la largeur de l'image pour les écrans larges */
    margin: 0 auto;
  }

  .image-restau img {
    width: 100%;
    height: auto; /* Assurez-vous que les images conservent leurs proportions */
  }

  .restau-name {
    padding: 0px !important;

    &::after {
      display: none;
    }
  }
}
.loader {
  $animation-duration: 2s;

  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  position: fixed; /*Positionne l'élément de manière fixe, couvrant tout l'écran.*/
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 1; /* s'etendre pour toucher tous les bords*/
  animation: disappear 200ms $animation-duration forwards; /*animation-fill-mode :  rester dans l'état final de l'animation */
  transform-origin: top; /*Définit le point d'origine de la transformation en haut.*/

  &::after {
    content: "";
    height: 70px;
    width: 70px;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(147, 86, 220);
    border-radius: 50%;

    animation: spin $animation-duration infinite ease-in-out; /*Fonction de Timing : ease-in-out (commence et termine doucement)*/
  }
}
@keyframes disappear {
  /*l'element retrecit jusqu'a disparition*/
  to {
    /*L'élément commence à sa taille normale.(scale 1)*/
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@import "../base/footer.scss";
