/* Variables */
$primary-color: rgb(12, 12, 12);
$secondary-color: rgb(234, 234, 234); 
$text-color: rgb(7, 7, 7);
$header-height: 60px;

/* Global styles */
body {
  font-family: 'Roboto', 'Shrikhand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
  color: $text-color;
}

/* Header styles */
.header-flex {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    position: relative;
  
    .logo {
      
      margin: 20px;
  
      img {
        max-width: 50%; /* Ajustez le pourcentage selon les besoins */
        height: auto;
      }
    }

  .go-back-icon {
    position: absolute;
    top: 10px;
    align-self: flex-start;
    margin: 10px;
    font-size: 1.5rem;
  }

}
.image-restau {
    img{
    width: 100%; /* Adjust logo size as needed */
    margin-bottom: 10px;
}
}
.restau-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-family: 'Shrikhand', cursive;
    color: black;
}
.restau-menu {
    border-radius: 20px;


h1 {
    font-size: 2rem;
  }

  i {
    font-size: 2rem;
    color: $primary-color;
    font-weight: 100;
  }

h2 {
  font-size: 1.2rem;
  margin: 20px;
  color: $primary-color;
  font-weight: 400;
}
}
/* Menu cards */
.restau-menu {
    width: 100%;
    padding: 0;
    margin: 0;
  }
.menu-cards {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding: 0;
    margin: 0;
    a{
        width: 100%;
        display: flex;
        justify-content: baseline;
       
    .card {
      background-color: white;
      width: 100%;
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
} }
h2 {
    font-family: 'Roboto' sans-serif;
    display: inline-block;
    border-bottom: solid 3px rgba(153, 226, 208, 1);
    padding-bottom : 5px;

}
h3 {
    color: black;
}
.card-content  {
    display: flex;
    justify-content: space-between;
    p {
        margin-top: 0px;
        color: rgba(0, 0, 0, 1);

    }
    
}
    a {
        text-decoration: none !important;
       
    }
    .button-container{
        display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px;
      
      
      .btn {
          background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
          width: 228px;
          height: 50px;
          color: white;
          font-weight: 500;
          font-size: 18px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          text-align: center;
          cursor: pointer;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }
    @import '../base/footer.scss';

   