* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
$primary-color: rgb(12, 12, 12);
$secondary-color: rgb(234, 234, 234);
$text-color: rgb(7, 7, 7);
$header-height: 60px;

/* Global styles */
body {
  font-family: "Roboto", "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

/* Header styles */
.header-flex {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0;

  .logo {
    img {
      width: 200px;
      height: auto;
    }
  }

  .go-back-icon {
    position: absolute;
    top: 20px;
    left: 10px;
    align-self: flex-start;
    margin: 10px;
    font-size: 1.5rem;

    .fa-arrow-left {
      color: black;
    }
  }
}
.image-restau {
  position: relative;
  width: 100%;
  height: 275px; /* Ajustez cette valeur selon la hauteur de l'image */
}
.image-restau img {
  width: 100%; /* Adjust logo size as needed */
  margin: 0;
  position: relative;
  overflow: hidden;
}

.restau-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: "Shrikhand", cursive;
  color: black;
  position: relative;

  &::before {
    @include heart;
    position: absolute;
    top: 4px;
  }
  &::after {
    @include heart;
    @include gradient(1); /*Seule la couleur du dégradé de fond, définie par @include gradient(1);, est visible à l'intérieur des cœurs.*/
    opacity: 0;
    color: transparent; /* pour que le cœur de base ne montre pas sa couleur d'origine.*/
    font-weight: 900;
    position: absolute;
    top: 4px;
  }
  &:hover::after {
    opacity: 1;
    transform: translate(-50%) scale(1.1);
  }
}
.card-menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  position: relative;
  bottom: 30px; /* Ajustez cette valeur pour déplacer l'élément vers le haut */
  background-color: $secondary-color;
  padding: 20px;
  padding-top: 50px;
  z-index: 10;
  margin-bottom: 0;

  h1 {
    font-size: 28px;
  }

  i {
    font-size: 2rem;
    color: $primary-color;
    font-weight: 100;
  }

  h2 {
    font-family: "Roboto" sans-serif;
    display: inline-block;
    width: 10%;
    border-bottom: solid 3px rgba(153, 226, 208, 1);
    padding-bottom: 5px;
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 15px;
    color: $primary-color;
    font-weight: 300;
  }
}
/* Menu cards */

.menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  margin: 0;

  a {
    width: 100%;
    display: flex;
    justify-content: center;

    .card {
      background-color: white;
      width: 100%;
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: 0px 0px 12px 0px #0000003b;
      display: flex;
      flex-direction: column;

      position: relative;
      padding: 0;

      box-shadow: (2px 1px 8px -3px #000000);
    }
    .card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: 100% !important; /* Ensure card-content takes full height of card */

      .prix {
        font-size: 18px;
        font-weight: bold;
        color: black;
        padding: 0;
        margin: 0;
        margin-left: auto;
        margin-right: 5px;
        align-self: center;
      }

      .check {
        $button-width: 6rem;
        background-color: rgba(22, 234, 163, 0.606);
        height: auto;
        align-self: stretch; /* s'etndre verticalement pour remplir l'espace du coneneur*/
        display: grid;
        place-items: center;
        padding: 0;
        margin-right: -1 * $button-width; /* Positionne le bouton hors de l'écran à droite pour qu'il n'apparaisse que lors du survol.*/
        width: $button-width;
        transition: all 1s; /*Applique une transition douce de 1 seconde pour la position du bouton*/

        i {
          background-color: white;
          border-radius: 50%;
          color: aquamarine;
          padding: 10px;
          font-size: small;
          font-weight: bolder;
        }
      }
      &:hover .check {
        margin-right: 0;
        width: 5rem;
        height: auto;
      }
    }

    .card-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

h3 {
  color: black;
  overflow: hidden; /*Cache toute partie du texte qui dépasse les limites du conteneur.*/
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap; /* Empêche le texte de se diviser en plusieurs lignes, forçant tout le texte à rester sur une seule ligne.*/
  text-overflow: ellipsis; /*Ajoute des points de suspension ("...") à la fin du texte si celui-ci dépasse les limites du conteneur, indiquant qu'il y a plus de texte que ce qui est visible*/
}
p {
  margin-top: 5px;
  margin-bottom: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

a {
  text-decoration: none !important;
}
@import "../components/button.scss";
@import "../base/footer.scss";
footer {
  position: static;
  width: 100%;
  margin-top: -31px;
  padding: 20px;
}

@media (min-width: 768px) {
  .card-menu {
    width: 80%;
    margin: 97px auto; /* Centrer l'article .card-menu */
  }

  h2 {
    width: auto;
    display: flex; //
    justify-content: left; // Centrez le texte horizontalement
    position: relative;
    margin-top: 20px;
    border-bottom: none !important; // Supprime le border-bottom initial

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px; // distance désirée par rapport au texte
      left: 17px;
      transform: translateX(-50%);
      width: 43%;
      border-bottom: solid 3px rgba(153, 226, 208, 1);
    }
  }
  .restau-title {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .card-menu {
    width: 70%;
    margin: 87px auto; /* Ajuste le centrage de l'article .card-menu pour les écrans larges */
    p{
    }
  }
  .restau-title {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}
.image-restau {
  width: 100% !important;

  img {
    height: 445px;
    object-fit: cover;
  }
}
